@import "../sass/variables.scss";

.App {
  position: relative;
  height: 100vh;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
    width: 100%;
    color: $fontcolor;
    background-color: $maincolor;
  }
  main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    height: 75vh;
    align-items: center;
    width: 80vw;
    margin: 1vh auto;
    box-shadow: $darknesscolor 2px 2px 8px;

    .NavPanel {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .search {
        input {
          height: 27px;
          width: 15vw;
          border: 1px solid $shadowcartcolor;
          border-radius: 5px;
          padding: 0 5px;
          font-size: $fontmin;
          &:focus {
            outline: none;
          }
        }
        button {
          background: $maincolor;
          border: 1px solid $shadowcartcolor;
          color: $fontcolor;
          border-radius: 5px;
          width: 100px;
          height: 30px;
          margin: 1vh;
          outline: none;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
    color: $fontcolor;
    background-color: black;
  }
}
@media (max-width: 767px) {
  h4,
  h5,
  h6,
  p,
  .Icon {
    transform: scale(0.9);
  }
  .App {
    header {
      h5{
        font-size: 30px;
      }
    }
    main {
      width: 100vw;
      .NavPanel {
        flex-direction: column;
        .search input {
          width: 50vw;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h4,
  h5,
  h6,
  th,
  .Icon {
    transform: scale(0.95);
    &:hover {
      transform: scale(0.95);
    }
  }
  .App {
    main {
      width: 100vw;
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  h4,
  h5,
  h6,
  p,
  th,
  td,
  .Icon {
    transform: scale(0.95);
  }
  .App {
    main {
      width: 90vw;
    }
  }
}
