@import '../sass/variables.scss';

::-webkit-scrollbar {
  display: none;
}

.App {
  position: relative;
  height: 100vh;

  header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
    width: 100%;
    color: $fontcolor;
    background-color: blue;
  }
  main{
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    height: 75vh;
    justify-self: center;
    width: 80vw;
    margin: 1vh auto;
    box-shadow: $darknesscolor 2px 2px 8px;
  }
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
    color: $fontcolor;
    background-color: black;
  }
  
}
@media (max-width: 767px){

  h1, h2 ,h3, h4, h5, h6, p, .Icon{
    transform: scale(0.8);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1, h2 ,h3, h4, h5, h6, p, .Icon{
    transform: scale(0.85);
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  h1, h2 ,h3, h4, h5, h6, p, .Icon{
    transform: scale(0.9);
  }
}
