// if you want to use paste path -> @import '../../sass/variables.scss'
	// Main contrast color */
$fontcolor: #FFFFFF;

$darknesscolor: #101619;	// Main Primary color */
$lightcolor: #1C87BB;
$shadowcolor: #053D59;
$contrastcolor: #49C0FA;
$maincolor: #026494;
$shadowcartcolor: rgba(49, 49, 49, 0.6);
// As RGBa codes */

$fontmin: 0.7em;
$fontbasic: 1em;
$fonttiny: 1.7em;
$fontsmall: 2em;
$fontlittle: 2.5em;
$fontmiddle: 3em;
$fontfine: 3.5em;
$fontbig: 4em;
$fontlarge: 5em;
$fonthuge: 8em;

$Montserrat: 'Montserrat', sans-serif;
$Roboto: 'Roboto Slab', serif;

p{
	font-size: $fontbasic;
	font-family: $Montserrat;
}
h1, h2 ,h3, h4, h5, h6{
	color: $fontcolor;
	font-family: $Roboto;
	margin: 0 1% 1%;
}
h1{
	font-size: $fonthuge;
}
h2{
	font-size: $fontlarge;
}
h3{
	font-size: $fontbig;
}
h4{
	font-size: $fontfine;
}
h5{
	font-size: $fontmiddle;
}
h6{
	font-size: $fontlittle;
}
