// if you want to use paste path -> @import '../../sass/variables.scss'
	// Main contrast color */
$fontcolor: #FFFFFF;

$darknesscolor: #101619;	// Main Primary color */
$lightcolor: #1C87BB;
$shadowcolor: #053D59;
$contrastcolor: #49C0FA;
$maincolor: #026494;
$shadowcartcolor: rgba(49, 49, 49, 0.6);
// As RGBa codes */

$color-contrast-0: #A57B00;	// Main contrast color */
$color-contrast-1: #FFBF00;
$color-contrast-2: #D09C00;
$color-contrast-3: #785A00;
$color-contrast-4: #3F3000;

$fontbasic: 1em;
$fonttiny: 1.7em;
$fontsmall: 2em;
$fontlittle: 2.5em;
$fontmiddle: 3em;
$fontfine: 3.5em;
$fontbig: 4em;
$fontlarge: 5em;
$fonthuge: 8em;

$Montserrat: 'Montserrat', sans-serif;
$Roboto: 'Roboto Slab', serif;