@import "../../sass/variables.scss";

.Pagination{
    display: flex;
    li{
        list-style-type: none;
        button{
            width: 50px;
            height: 30px;
            margin: 0.1vw;
            font-weight: 900;
            border: 1px solid $shadowcartcolor;
            border-radius: 5px;
            background-color: $fontcolor;
        }
    }
}
@media (max-width: 767px) {
    .Pagination{
        padding: 0;
    }
}